%body
  .navbar.navbar-default.navbar-fixed-top
    .navbar-inner.container
      .navbar-header
        %a.navbar-brand(href="/")
          = image_tag 'theCatchLogo.png', class: "logo"

  .container
    .row
      .col-md-12
        #sign_up_form_2
          %h3#new_user Sign Up For The Beta
          = form_for @beta_signup, :remote => true, :html => {:class => 'data-parsley-errors-container="#sign_up_form_2 col-md-8"' ,:id => 'beta_form'}, url: {action: "create", controller: "beta_signup"} do |f|
            .form-group.col-md-6.col-xs-12
              = f.text_field :name, data: {parsley_required: true}, :placeholder => "Full Name", :class => "input"

            .form-group.col-md-6.col-xs-12
              = f.email_field :email, data: {parsley_required: true}, type: 'email', :placeholder => "Email Address", :class => "input"

            .form-group.col-md-6.col-xs-12
              = f.select :gender, options_for_select([['', ''],['Male', 'male'],['Female', 'female']])

            .form-group.col-md-6.col-xs-12
              = f.text_field :zip, data: {parsley_required: true}, type:'number', :placeholder => "Zip Code", :class => "input"

            = f.submit "SIGN UP", :class => 'form_sign_up_button col-md-4 col-md-offset-4 col-xs-12'

  #banner.container-fluid.clearfix
    .row
      .col-md-12
        .row
          #intro.col-md-5
            %br
            %p The safe and playful interactive game where ladies can meet awesome gentlemen.
            %br
            %p We are launching soon and are now accepting applications for beta users.
        .row
          %a#sign_up_link.col-md-3.form_link{:href => "#"}
            #sign_up_button
              %p SIGN UP NOW

  #gender_select.container-fluid
    .row
      .col-md-12
        %p#lady_or_gent.inl Hi, I am a
        %p#lady_or_gent1.inl :
        %p#lady_or_gent2.inl Lady
        %p#lady_or_gent3.inl Gentleman
        %br
      .chatfig.col-md-12
        .g_butt.lady_button.container_fluid
          -#= image_tag('chatLadyInactive.png')
        .g_butt.gent_button.container_fluid
          -#= image_tag('chatGentInactive.png')
      %p#pick_one (select one)
    .row
      #gender_outer.col-md-12
        #lady.gender
          .col-md-4
            = image_tag('landingLadyStory_1.png')
            %p.sub_descript_f You've got the power to choose the gentlemen who will compete for you.
          .col-md-4
            = image_tag('landingLadyStory_2.png')
            %p.sub_descript_f Quiz your gentlemen with questions you actually care about.
          .col-md-4
            = image_tag('landingLadyStory_3.png')
            %p.sub_descript_f Eliminate one gentleman each round to reveal your true match.
        #gent.gender
          .col-md-3.col-md-offset-2
            = image_tag('landingGentStory_1.png')
            %p.sub_descript_m Tired of getting rejected? On The Catch, ladies hand pick you out of the crowd.
          .col-md-3.col-md-offset-2
            = image_tag('landingGentStory_2.png')
            %p.sub_descript_m All you have to do is survive 3 rounds of questions, and you may get the girl!

  .container
    .row
      .col-md-12
        %a#sign_up_link_bottom.form_link{:href => "#"}
          #sign_up_button_bottom
            %p SIGN UP NOW

  %nav.navbar.navbar-default.navbar-fixed-bottom.bottom_nav
    #social.upper_foot.until_we_have_links
      = link_to image_tag('webicon-facebook-m.png'), 'http://www.facebook.com/datethecatch'
      = link_to image_tag('webicon-twitter-m.png'), 'http://www.twitter.com/datethecatch'
      = link_to image_tag('webicon-email-m.png'), 'mailto:hello@datethecatch.com'

    .lower_foot.until_we_have_links
      %p &copy; The Catch 2014 All rights reserved.
