= search_form_for @q do |f|
  %fieldset
    %legend Filters

    .form-group.col-xs-6
      = f.label :type_eq, "Document Type"
      = f.select :type_eq, options_for_doc_types(params[:q][:type_eq]), class: 'form-control'

    .form-group.col-xs-6
      = f.label :sender_receiver_eq, "Sent Or Received"
      = f.select :sender_receiver_eq, options_for_doc_roles(params[:q][:sender_receiver_eq]), class: 'form-control'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        - Settings.documents.public_columns.each do |col|
          %td
            = sort_link @q, col

    %tbody
      - @documents.each do |doc|
        %tr
          - Settings.documents.public_columns.each do |col|
            %td= doc.send(col)

= content_for :extra_javascripts do
  :coffeescript
    $('form select').change (e) ->
      $(@).parents('form').submit()
